@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import "animate.css";
@import url(http://fonts.googleapis.com/css?family=Marvel);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/*========================================================
                    Main layout styles
=========================================================*/
body {
  background: #129894;
  color: #363535;
  font: 300 18px/36px 'Open Sans', sans-serif;
}
.ic {
  border:0;
  float:right;
  background:#fff;
  color:#f00;
  width:50%;
  line-height:10px;
  font-size:10px;
  margin:-220% 0 0 0;
  overflow:hidden;
  padding:0
} 
a {
  font: inherit;
  color: #129894;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: underline;
}
a:active {
  background: transparent;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  -webkit-text-size-adjust: none;
}
/*============  Text  =============*/
.text_1 {
  font: 300 68px/60px 'Open Sans', sans-serif;
}
.text_2 {
  font: 600 24px/30px 'Open Sans', sans-serif;
}
.text_3 {
  font: 300 18px/24px 'Open Sans', sans-serif;
}
.text_4 {
  font: 400 14px/16px 'Open Sans', sans-serif;
}
.text_5 {
  font: 300 14px/20px 'Open Sans', sans-serif;
}
.text_6 {
  font: 400 18px/26px 'Open Sans', sans-serif;
}
.text_7 {
  font: 400 18px/20px 'Open Sans', sans-serif;
}
.text_8 {
  font: 400 14px/20px 'Open Sans', sans-serif;
}
/*============  Colors  =============*/
.color_1 {
  color: #ffffff;
}
.color_1 a {
  color: inherit;
}
.color_2 {
  color: #363535;
}
.color_2 a {
  color: inherit;
}
.color_3 {
  color: #129894;
}
.color_3 a {
  color: inherit;
}
.color_4 {
  color: #a0d6d4;
}
.color_4 a {
  color: inherit;
}
.color_5 {
  color: #413d3d;
}
.color_5 a {
  color: inherit;
}
.color_6 {
  color: #4a4a4a;
}
.color_6 a {
  color: inherit;
}
/*============  Backgrounds  =============*/
.bg_1 {
  background: #fdfdfc;
}
/*============  Floats  =============*/
.put-left {
  float: left;
}
.put-right {
  float: right;
}
/*============  Page  =============*/
.page {
  background: #ffffff;
}
/*========================================================
                    HEADER styles
=========================================================*/
#header {
  position: relative;
}
@media (max-width: 1199px) {
  #header {
    text-align: center;
  }
}
.brand {
  text-align: center;
}
.brand h1 {
  display: inline-block;
  text-align: left;
}
@media (max-width: 979px) {
  .brand {
    float: none;
  }
}
.nav {
  text-align: right;
}
@media (max-width: 979px) {
  .nav {
    text-align: center;
    float: none;
  }
}
/* Main menu styles
========================================================*/
.sf-menu {
  display: inline-block;
  margin-right: -10px;
}
.sf-menu > li {
  position: relative;
  float: left;
  font: 400 22px/22px 'Marvel', sans-serif;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.1px;
}
.sf-menu > li > a {
  position: relative;
  display: inline-block;
  padding: 12px 10px 12px;
  color: #000000;
}
.sf-menu > li.sfHover > a,
.sf-menu > li.current > a,
.sf-menu > li > a:hover {
  background: #edecec;
  color: #02918d;
  text-decoration: none;
}
.sf-menu > li.sfHover > a:after,
.sf-menu > li.current > a:after,
.sf-menu > li > a:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #02918d;
}
.sf-menu > li + li {
  margin-left: 39px;
}
.sf-menu ul {
  position: absolute;
  display: none;
  width: 220px;
  padding: 10px 0;
  text-align: left;
  background: #ffffff;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.sf-menu ul li {
  display: block;
  position: relative;
  text-transform: none;
}
.sf-menu ul li.sfHover > a,
.sf-menu ul li.current > a,
.sf-menu ul li a:hover {
  background: #129894;
  color: #ffffff;
  text-decoration: none;
}
.sf-menu ul li + li {
  margin-top: 8px;
}
.sf-menu ul li a {
  display: block;
  padding: 5px 20px;
  color: #000000;
}
/* First level sub-menu styles
========================================================*/
.sf-menu > li > ul {
  top: 120%;
  left: 50%;
  margin-left: -110px;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu > li > ul > li > ul {
  top: 0px;
  left: 110%;
}
@media only screen and (max-width: 767px) {
  nav {
    padding-bottom: 0;
  }
  .sf-menu {
    display: none;
  }
  .select-menu {
    margin: 30px 0 20px;
    display: block;
    position: relative;
    padding: 0;
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    background: #edecec url(../images/select.png) 99% center no-repeat;
    color: #000000;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    font: normal 14px 'Open Sans', sans-serif;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 479px) {
  nav.put-right {
    padding-bottom: 0px;
  }
}
/* Stuck menu styles
========================================================*/
.isStuck {
  background: #ffffff;
  z-index: 999;
  border-bottom: 1px solid #199b97;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*========================================================
                    CONTENT styles
=========================================================*/
#content {
  overflow: hidden;
}
/*============  Headers  =============*/
.header_1 {
  text-align: center;
  font: 600 48px/60px 'Open Sans', sans-serif;
}
.header_1.indent_1 {
  padding-bottom: 56px;
}
.header_1.indent_2 {
  padding-bottom: 34px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .header_1 {
    font-size: 40px;
    line-height: 52px;
  }
}
@media (max-width: 767px) {
  .header_1 {
    font-size: 36px;
    line-height: 42px;
  }
}
.header_2 {
  font: 600 36px/30px 'Open Sans', sans-serif;
}
.header_2.indent_1 {
  padding-bottom: 30px;
}
.header_2.indent_2 {
  padding-bottom: 32px;
}
.header_2.indent_3 {
  padding-bottom: 81px;
}
.header_2.indent_4 {
  padding-bottom:24px;
}
.header_2.indent_5 {
  padding-bottom: 41px;
}
/*============  Wraps  =============*/
.wrap_1 {
  padding-top:0px;
}
.wrap_2 {
  padding-top: 71px;
}
.wrap_3 {
  padding-bottom: 34px;
}
.wrap_4 {
  padding-bottom: 53px;
}
.wrap_5 {
  padding-bottom: 95px;
}
.wrap_6 {
  padding-bottom: 120px;
}
.wrap_7 {
  padding-top: 8px;
}
.wrap_8 {
  padding-bottom: 48px;
}
.wrap_9 {
  padding-top: 0px;
}
.wrap_10 {
  padding-bottom: 44px;
}
.wrap_11 {
  padding-top: 20px;
}
.wrap_12 {
  padding-bottom: 91px;
}
.wrap_13 {
  padding-top: 42px;
}
.wrap_14 {
  padding-top: 0px;
}
.wrap_15 {
  padding-bottom: 20px;
}
.wrap_16 {
  padding-top:10px;
}
.wrap_17 {
  padding-top: 10px;
}
.wrap_18 {
  padding-top: 50px;
}
.wrap_19 {
  padding-bottom: 20px;
}
.wrap_20 {
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .wrap_11,
  .wrap_14,
  .wrap_9,
  .wrap_1,
  .wrap_18 {
    padding-top: 50px;
  }
  .wrap_12,
  .wrap_15,
  .wrap_5,
  .wrap_19 {
    padding-bottom: 50px;
  }
}
@media (max-width: 1199px) {
  .img-wrap {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .img-wrap {
    margin-top: 30px;
  }
}
/*============  Butttons  =============*/
.btn_1 {
  display: inline-block;
  font: 400 30px/30px 'Marvel', sans-serif;
  padding: 15px 51px 16px;
  letter-spacing: 1.5px;
  color: #000000;
  background: #f1f045;
}
.btn_1:hover {
  color: #ffffff;
  background: #249f9c;
  text-decoration: none;
}
.btn_2 {
  display: inline-block;
  padding: 4px 20px 3px;
  font: 400 24px/30px 'Marvel', sans-serif;
  color: #413d3d;
  background: #f1f045;
}
.btn_2:hover {
  color: #ffffff;
  background: #249f9c;
  text-decoration: none;
}
.btn_3 {
  display: inline-block;
  padding: 4px 34px 3px 33px;
  font: 400 24px/30px 'Marvel', sans-serif;
  color: #413d3d;
  background: #f1f045;
}
.btn_3:hover {
  color: #ffffff;
  background: #249f9c;
  text-decoration: none;
}
/*============  Images  =============*/
.img_1 {
  margin: 3px 0 9px 0;
  float: left;
}
.img_1 + .img_1 {
  margin-left: 29px;
}
@media (max-width: 1199px) {
  .img_1 {
    float: none;
  }
  .img_1 + .img_1 {
    margin-left: 0;
  }
}
.img_2 {
  margin: 3px 0 9px 0;
  float: left;
}
.img_2 + .img_2 {
  margin-left: 30px;
}
.img_2:first-child + .img_2 + .img_2 + .img_2 {
  margin-left: 0;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .img_2 {
    width: 140px;
  }
  .img_2 + .img_2 {
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .img_2 {
    width: 108px;
  }
  .img_2 + .img_2 {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .img_2 {
    float: none;
  }
  .img_2 + .img_2 {
    margin-left: 0;
  }
}
/*============  Boxes  =============*/
.box_1 {
  text-align: center;
  padding-bottom: 30px;
}
.box_1 [class^='icon_'] {
  display: inline-block;
  width: 117px;
  height: 117px;
  color: #01918c;
  border: 1px solid #199b97;
  text-align: center;
  border-radius: 100px;
}
.box_1 .icon_1:before {
  content: '%';
  font: bold 48px/117px 'Arial', sans-serif;
}
.box_1 .icon_2:before {
  content: '\f012';
  font: 700 48px/117px 'FontAwesome';
}
.box_1 .icon_3:before {
  content: '\f007';
  font: 700 48px/117px 'FontAwesome';
}
.box_1 .icon_4:before {
  content: '\f0ad';
  font: 700 48px/117px 'FontAwesome';
}
.box_1 [class^='icon_'] + .text_2 {
  padding-top: 22px;
}
.box_1 [class^='icon_'] + .text_2 + .text_3 {
  padding-top: 16px;
}
.box_1 [class^='icon_'] + .text_2 + .text_3 + .btn_2 {
  margin-top: 41px;
}
.box_2 {
  padding: 36px 15px 42px 62px;
  border: 1px solid #898888;
}
.box_2 .put-left {
  margin: 63px 77px 57px 0px;
}
.box_2 .text_2 + .text_3 {
  padding-top: 13px;
}
.box_2 .text_3 + .btn_2 {
  margin-top: 41px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .box_2 {
    padding: 26px 5px 32px 52px;
  }
  .box_2 .put-left {
    margin: 53px 67px 47px 0;
  }
}
@media (max-width: 979px) {
  .box_2 {
    padding: 20px 40px 40px;
    text-align: center;
  }
  .box_2 .put-left {
    float: none;
    text-align: center;
    margin: 0 0 30px;
  }
}
.box_3 {
  text-align: center;
}
.box_4 .text_5 + .btn_2 {
  margin-top: 40px;
}
.box_4 .text_5 + .row {
  padding-top: 31px;
}
.box_4 .row + .btn_3 {
  margin-top: 46px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .box_4 .grid_2 {
    width: 170px;
  }
}
.box_5 {
  position: relative;
  padding-top: 8px;
  padding-left: 65px;
}
.box_5:before {
  content: attr(data-index);
  position: absolute;
  top: 1px;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
  background: #129894;
  font: 700 36px/48px 'Open Sans', sans-serif;
}
.box_5 .text_2 + .text_3 {
  padding-top: 24px;
}
.box_6 .put-left {
  margin-top: 6px;
  margin-right: 30px;
}
.box_6 .put-left .caption {
  position: relative;
  display: inline-block;
}
.box_6 .put-left .text_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.43);
  padding: 8px 0 14px;
}
.box_6 .caption .text_2 + .text_3 {
  padding-top: 24px;
}
.box_6 .caption .text_3 + .btn_2 {
  margin-top: 25px;
}
.box_6 + .box_6 {
  margin-top: 118px;
}
@media (max-width: 1199px) {
  .box_6 .put-left {
    float: none;
    margin: 0 0 20px;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .box_6 .put-left img {
    width: 100%;
  }
}
.box_7 {
  padding-bottom: 50px;
}
.box_7 .img-wrap {
  text-align: center;
}
.box_7 .caption {
  padding-top: 35px;
}
.box_7 .caption .text_2 + .text_3 {
  padding-top: 24px;
}
.box_7 .caption .text_3 + .btn_2 {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .box_7 {
    padding-bottom: 50px;
  }
}
/*============  Lists  =============*/
.list_1 {
  display: inline-block;
}
.list_1 li {
  float: left;
}
.list_1 li + li {
  margin-left: 17px;
}
.list_1 li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #ffffff;
  background: #dcd9d9;
  text-align: center;
  border-radius: 25px;
}
.list_1 li a:hover {
  background: #129894;
  text-decoration: none;
}
.list_1 li a.fa-twitter {
  font-size: 25px;
  line-height: 56px;
}
.list_1 li a.fa-twitter:before {
  padding-left: 1px;
}
.list_1 li a.fa-facebook {
  font-size: 25px;
  line-height: 52px;
}
.list_1 li a.fa-facebook:before {
  padding-left: 2px;
}
.list_1 li a.fa-google-plus {
  font-size: 25px;
  line-height: 52px;
}
.list_1 li a.fa-google-plus:before {
  padding-left: 6px;
}
.list_1 li a.fa-pinterest {
  line-height: 50px;
  font-size: 30px;
}
.list_1 li a.fa-pinterest:before {
  padding-left: 1px;
}
.list_2 li {
  position: relative;
  padding-left: 31px;
}
.list_2 li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 10px;
  height: 10px;
  background: #129894;
  border-radius: 5px;
}
.list_3 li {
  float: left;
}
.list_3 li img {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.list_3 li a:hover img {
  opacity: 0.5;
}
.list_3 li + li {
  margin-left: 26px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .list_3 img {
    width: 120px;
  }
  .list_3 li + li {
    margin-left: 12px;
  }
}
@media (max-width: 979px) {
  .list_3 {
    text-align: center;
  }
  .list_3 li {
    float: none;
    margin-bottom: 9px;
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .list_3 li:first-child + li + li + li {
    margin-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .list_3 li:first-child + li + li {
    margin-left: 0;
  }
  .list_3 li:first-child + li + li + li + li {
    margin-left: 0;
  }
}
@media (max-width: 479px) {
  .list_3 li + li {
    margin-left: 0;
  }
}
/*============  Map =============*/
.map {
  width: 100%;
  height: 399px;
}
@media (max-width: 767px) {
  .map {
    height: 250px;
  }
}
@media (max-width: 479px) {
  .map {
    height: 150px;
  }
}
/*============  Address =============*/
address .text_7 + .text_8 {
  padding-top: 22px;
}
/*============  Terms List =============*/
.terms-list {
  text-align: center;
}
.terms-list dt + dd {
  padding-top: 14px;
}
.terms-list dd + dt {
  padding-top: 19px;
}
.terms-list p + p {
  padding-top: 12px;
}
/*============  LightBox =============*/
a[data-type='lightbox'] {
  display: block;
  background: url('../images/magnify.png') no-repeat center center;
}
a[data-type='lightbox'] img {
  width: 100%;
  height: auto;
}
a[data-type='lightbox']:hover img {
  opacity: 0.2;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (max-width: 767px) {
  a[data-type='lightbox'].last-row {
    margin-bottom: 8px;
  }
}
/*========================================================
                    FOOTER styles
=========================================================*/
@media (max-width: 767px) {
  #footer {
    text-align: center;
  }
}
/*============  Info  =============*/
.info {
  padding: 23px 0 24px;
}
/*========================================================
                    Widget styles
=========================================================*/
/* UItoTop styles
========================================================*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  overflow: hidden;
  border: none;
  color: #363535;
  width: 40px;
  height: 43px;
  font-size: 43px;
  line-height: 38px;
  z-index: 20;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#toTop:hover {
  outline: none;
  text-decoration: none;
  color: #129894;
}
#toTop:active {
  background: transparent;
}
@media only screen and (max-width: 1199px) {
  #toTop {
    display: none !important;
  }
}
/*Core variables and mixins*/
